# Ignorar arquivos de checkpoint do Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos de massa do diretório /data-samples
/loading-data/data-samples/empresas/
/loading-data/data-samples/estabelecimentos/
/loading-data/data-samples/socios/
/loading-data/data-samples/*.zip